#slimtab{
    position: relative;
    width: fit-content;
    background: radial-gradient(#3E3E3E, #000);
    user-select: none;
}
#top-back{
    position: absolute;
    width: calc(100% - 30px);
    height: 80px;
    background-image: linear-gradient(black, black 50%, rgba(0,0,0,0) 90%);
}
.li-con-btn{
    width: 112px;
    height: 31px;
    color: white;
    font-size: 12px;
    border-radius: 8px;
    position: absolute;
    top: 28px;
    right: 31px;
    z-index: 9;
    background: #00BE7C;
    text-align: center;
    line-height: 31px;
    font-weight: bold;
}
.bottom-panel{
    position: absolute;
    width: 913px; 
    height: 60px; 
    bottom: 25px; 
    z-index: 9; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.panel-control{
    border-radius: 8px;
    background: #A3A3A3;
    height: 39px; 
    width: 216px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.panel-control div{
    text-align: center;
}
.panel-control img{
    position: relative;
    top: 12px;
}
.panel-info{
    border-radius: 8px;
    background: #484848;
    height: 73px; 
    width: 536px;
    display: grid;
    color: #F4F4F4;
    grid-template: 
        "a b c d" 27px
        "a b c h" 14px
        "e f g h" 14px / 21% 21% 29% 29% ;
    align-content: center;
}
.panel-info > div{
    text-align: center;
}
.info-key {
    font-size: 11px;
    line-height: 14px;
}
.info-value{
    font-size: 40px;
    line-height: 41px;
}
.left-right-border{
    border-left: 2px solid #BCBCBC;
    border-right: 2px solid #BCBCBC;
}
.panel-rhythm{
    border-radius: 8px;
    background: #A3A3A3;
    width: 107px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.panel-rhythm > div{
    line-height: 39px;
    font-size: 18px;
    color: #F4F4F4;
    text-align: center;
}
#metronome-bpm {
    width: 40px;
    text-align: center;
    background: none;
    border: none;
    font-size: 18px;
    line-height: 39px;
    color: #F4F4F4;
}
#menu {
    position: absolute;
    left: 170px;
    top: 31px;
}
#menu > div{
    border-right: 1px solid #999999;
    cursor: context-menu;
    font-family: Microsoft JhengHei;
    width: 80px;
    height: 20px;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    float: left;
}
#menu > div:hover{
    background-image: radial-gradient(#008888, #005555 40%, #000000 90%);
}